@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,400;0,500;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;1,200;1,300;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Change the color of the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  /* Specify the desired color for the scrollbar thumb */
  border-radius: 10px;
  /* Add rounded corners to the scrollbar thumb */
}

/* Change the color of the scrollbar track (background) */
::-webkit-scrollbar-track {
  background-color: var(--body-color);
  /* Specify the desired color for the scrollbar track */
}

/* Optional: Change the width of the scrollbar */
::-webkit-scrollbar {
  width: 7px;
  /* Adjust the width as desired */
}

/* =============================== horizontal scrollbar ========================  */
/* Change the color of the horizontal scrollbar thumb */
::-webkit-scrollbar-thumb:horizontal {
  background-color: var(--scrollbar-color);
  /* Specify the desired color for the scrollbar thumb */
  border-radius: 10px;
  /* Add rounded corners to the scrollbar thumb */
}

/* Change the color of the horizontal scrollbar track (background) */
::-webkit-scrollbar-track:horizontal {
  background-color: var(--body-color);
  /* Specify the desired color for the scrollbar track */
}

/* Optional: Change the height of the horizontal scrollbar */
::-webkit-scrollbar:horizontal {
  height: 7px;
  /* Adjust the height as desired */
}

body {
  margin: initial;
  height: 100vh;
  background: var(--body-color);

  /* Colors */
  --scrollbar-color: #b1b1b1;
  --body-color: #f6f5ff;
  --background-color: #d2d2d2;
  --primary-color: #eeeeee;
  --primary-color-light: #ffffff;
  --hovertable-color: #e0e0e0d8;
  --sidebar-color: #d2d2d2;
  --toggle-color: #DDD;
  --tablerow-color: #bdbdbdd6;
  --tablehead-color: #3a3b3c9e;
  --tablehead-text-color: #dad7d7;
  --text-color: #707070;
  --shadow-color: #abaaaa;



  /* select arrow-down */
  --bs-form-select-bg-img: url(./assets/icons/dark-down.svg);
  --select-border-color: #d2d2d2;

  /*  Transition  */
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;

}

body.dark {

  --scrollbar-color: #696969;
  --body-color: #242424;
  /* --background-color: #242526; */
  --background-color: #3a3b3c;
  --primary-color: #3e3e8f;
  --primary-color-light: #242424;
  --hovertable-color: #3e3e8f;
  --sidebar-color: #3a3b3c;
  --toggle-color: #FFF;
  --tablerow-color: #24242491;
  --tablehead-color: #d0d0d0d6;
  --tablehead-text-color: #222222;
  --text-color: #CCC;
  --shadow-color: #242424;

  /* select arrow-down */
  --bs-form-select-bg-img: url(./assets/icons/white-down.svg);
  --select-border-color: #454b52;

  /*  Transition  */
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;

}

/* ======================================================== header profile */

.headerprofile {
  position: fixed;
  right: 0;
  top: 0;
  width: calc(100% - 278px);
  height: 63px;
  display: flex;
  z-index: 100;
  justify-content: flex-end;
  align-items: center;
  background: var(--background-color);
  transition: var(--tran-02);
  box-shadow: 0 0 15px var(--shadow-color);
}

.headername {
  margin-right: auto;
  position: relative;
  left: -40px;
  margin-left: 30px;
  font-size: 27px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: var(--text-color);
  text-decoration: none;
  pointer-events: none;
  cursor: not-allowed;
}

/* ////////////////////////////// responsive side bar in header*/
.showsidebar {
  align-items: center;
  margin-right: 5px;
  padding-left: 20px;

}

.showsidebar i {
  display: none;
  position: relative;
  top: 4px;
  font-size: 35px;
  text-decoration: none;
  transition: var(--tran-02);
  color: var(--text-color);
  pointer-events: stroke;
  cursor: pointer;
}

i.bi.bi-person-circle.icon {
  font-size: 34px;
  color: var(--text-color);
  padding: 10px 10px 10px 10px;
}

/* border profile */
.border {
  height: 50px;
  border: 1px solid var(--text-color);
  /* ปรับขนาดและสีตามที่ต้องการ */
  margin-right: 10px;
  border-radius: 20px;
}

/* =============================== profile position  */
.profilelogo {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.profilelogo .header-text {
  /* =============================   แบ่งแยก */
  display: flex;
  flex-direction: column;
  font-family: 'Kanit', sans-serif;
}

.profilelogo .firstname {
  font-size: 20px;
}

.profilelogo .role {
  font-size: 14px;
}

i.bi.bi-border-width.icon {
  font-size: 40px;
  margin-left: 42px;
  text-decoration: none;
  transition: var(--tran-02);
  color: var(--text-color);
  display: none;
}


/* ////////////////////////////////////////////////////////  sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--tran-02);
  z-index: 100;
  font-family: 'Kanit', sans-serif;
  box-shadow: 0 0 15px var(--shadow-color);
  /* เงาที่ฝั่งขวา */
}

/* ==============reusable css */
.sidebar .text {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
  transition: var(--tran-02);
  white-space: nowrap;
  opacity: 1;
}

.sidebar .image {
  min-width: 90px;
  display: flex;
  align-items: center;
}

/* ============== Sidebar-close css */
.sidebar.close {
  width: 88px;
  transition: var(--tran-02);
  font-family: 'Kanit', sans-serif;
}

.sidebar.close .text {
  opacity: 0;
  visibility: hidden;
}


.sidebar header {
  position: relative;
}

.sidebar .imagelogo img {
  width: 45px;
  position: absolute;
  left: 21px;
  top: 5px;
}

.sidebar header .imagelogo {
  display: flex;
  align-items: center;
}

.text.header-text {
  color: var(--text-color);
  transition: var(--tran-02);
}

header .imagelogo .header-text {
  /* =============================   แบ่งแยก */
  display: flex;
  flex-direction: column;
}

.header-text .name {
  font-size: 24px;
  font-weight: 400;
}

.header-text .profession {
  font-weight: 400;
  margin-top: -7px;
}

.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -35px;
  transform: translateY(-50%) rotate(180deg);
  padding: 6px;
  height: 25px;
  width: 25px;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--background-color);
  font-size: 25px;
  transition: var(--tran-02);
}

.sidebar.close header .toggle {
  transform: translateY(-50%);
}

.sidebar li {
  height: 50px;
  margin-top: 10px;
  list-style: none;
  display: flex;
  align-items: center;
}

.sidebar li .icon {
  display: flex;
  align-items: center;
  justify-self: center;
  min-width: 60px;
  font-size: 30px;
  margin-left: 27px;
}

.sidebar li .icon,
.sidebar li .text {
  color: var(--text-color);
  transition: var(--tran-02);
}

body.dark .sidebar header .toggle {
  color: var(--text-color);
}

.sidebar .menu {
  margin-top: 35px;
}

.menu-link {
  padding: inherit;
}

.sidebar li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 6px;
  transition: var(--tran-02);
}

/* transition */
.sidebar li a:hover {
  background: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--text-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
  color: var(--text-color);
}

/* betweeen logout */
.sidebar .menu-bar {
  height: calc(100% - 137px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* active class when to click */
.sidebar .menu-bar-link.active {
  background-color: var(--primary-color);
}

/* mode  */
.menu-bar .mode {
  position: relative;
  background: var(--primary-color-light);
  border-radius: 10px;
}

.menu-bar .mode .moon-sun {
  height: 50px;
  width: 60px;
  min-width: 86px;
  display: flex;
  align-items: center;
}

.menu-bar .mode i {
  position: absolute;
}

.menu-bar .mode i.sun {
  opacity: 0;
}

/* Change icon dark mode */
body.dark .menu-bar .mode i.sun {
  opacity: 1;
}

body.dark .menu-bar .mode i.moon {
  opacity: 0;
}

.menu-bar .mode .toggle-switch {
  position: absolute;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: 60px;
  cursor: pointer;
  border-radius: 6px;
  background: var(--primary-color-light);
}

.toggle-switch .switch {
  position: relative;
  left: 6px;
  height: 24px;
  width: 48px;
  border-radius: 25px;
  background: var(--toggle-color);
}

.switch::before {
  content: '';
  position: absolute;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  top: 50%;
  left: 6px;
  transform: translateY(-50%);
  background: var(--shadow-color);
  transition: var(--tran-02);
}

/* move toggle  */
body.dark .switch::before {
  left: 27px;
}

/* =============================   sidebar-responsive */

.sidebar-responsive {
  position: fixed;
  top: 0;
  left: -279px;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--tran-03);
  z-index: 98;
  font-family: 'Kanit', sans-serif;
  box-shadow: 0 0 15px var(--shadow-color);
  overflow-y: auto;
}

.sidebar-responsive.show {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--background-color);
  transition: var(--tran-02);
  z-index: 99;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  opacity: 1;
  transition: opacity 0.3s ease 0s;
}

/* ////////////////////////////////////////  Spinner*/
.spinner-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  background-color: var(--body-color);
  width: 100% !important;
  height: 100vh !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*** Spinner ***/
.spinner-border {
  display: inline-block;
  font-size: 1.6rem;
  width: 2.2rem;
  height: 2.2rem;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spinner-border 0.75s linear infinite;
}

@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}

#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-out, visibility 0s linear .5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity .5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

/* ==============reusable css */
.sidebar-responsive .text {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
  transition: var(--tran-04);
  white-space: nowrap;
  opacity: 1;
}

.sidebar-responsive .image {
  min-width: 90px;
  display: flex;
  align-items: center;
}

.sidebar-responsive header {
  position: relative;
}

.sidebar-responsive .imagelogo img {
  width: 45px;
  position: absolute;
  left: 21px;
  top: 5px;
}

.sidebar-responsive header .imagelogo {
  display: flex;
  align-items: center;
}

.sidebar-responsive-text {
  display: flex;
  flex-direction: column;
  font-family: 'Kanit', sans-serif;
  color: var(--text-color);
}

.sidebar-responsive .profilelogo {
  background: var(--primary-color-light);
  border-radius: 10px;
}

i.bi.bi-person-circle.sidebar-responsive-icon {
  position: relative;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-self: center;
  min-width: 60px;
  font-size: 30px;
  margin-left: 27px;
}

.text.header-text {
  color: var(--text-color);
  transition: var(--tran-02);
}

.sidebar-responsive header .toggle {
  position: absolute;
  top: 50%;
  right: -35px;
  transform: translateY(-50%) rotate(180deg);
  padding: 6px;
  height: 25px;
  width: 25px;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--background-color);
  font-size: 25px;
  transition: var(--tran-03);
}

.sidebar-responsive.close header .toggle {
  transform: translateY(-50%);
}

.sidebar-responsive li {
  height: 50px;
  margin-top: 10px;
  list-style: none;
  display: flex;
  align-items: center;
}

.sidebar-responsive li .icon {
  display: flex;
  align-items: center;
  justify-self: center;
  min-width: 60px;
  font-size: 30px;
  margin-left: 27px;
}

.sidebar-responsive li .icon,
.sidebar-responsive li .text {
  color: var(--text-color);
  transition: var(--tran-02);
}

body.dark .sidebar-responsive header .toggle {
  color: var(--text-color);
}

.sidebar-responsive .menu {
  margin-top: 35px;
}

.sidebar-responsive .search-box {
  background: var(--primary-color-light);
  border-radius: 27px
}


.menu-link {
  padding: inherit;
}

.sidebar-responsive li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 6px;
  transition: var(--tran-04);
}

/* transition */
.sidebar-responsive li a:hover {
  background: var(--primary-color);
}

.sidebar-responsive li a:hover .icon,
.sidebar-responsive li a:hover .text {
  color: var(--text-color);
}

body.dark .sidebar-responsive li a:hover .icon,
body.dark .sidebar-responsive li a:hover .text {
  color: var(--text-color);
}

/* betweeen logout */
.sidebar-responsive .menu-bar {
  height: calc(100% - 137px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* active class when to click */
.sidebar-responsive .menu-bar-link.active {
  background-color: var(--primary-color);
}

/* mode  */
.menu-bar .mode {
  position: relative;
  background: var(--primary-color-light);
  border-radius: 10px;
}

.menu-bar .mode .moon-sun {
  height: 50px;
  width: 60px;
  min-width: 86px;
  display: flex;
  align-items: center;
}

.menu-bar .mode i {
  position: absolute;
}

.menu-bar .mode i.sun {
  opacity: 0;
}

/* Change icon dark mode */
body.dark .menu-bar .mode i.sun {
  opacity: 1;
}

body.dark .menu-bar .mode i.moon {
  opacity: 0;
}

.menu-bar .mode .toggle-switch {
  position: absolute;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: 60px;
  cursor: pointer;
  border-radius: 6px;
  background: var(--primary-color-light);
}

.toggle-switch .switch {
  position: relative;
  left: 6px;
  height: 24px;
  width: 48px;
  border-radius: 25px;
  background: var(--toggle-color);
}

.sidebar-responsive .bottom-content {
  padding-bottom: 50px;
}

/* ////////////////////////////////////////////////////////////////// container row col body */
.container {
  display: flex;
  font-family: 'Kanit', sans-serif;
  position: relative;
  top: 63px;
  flex-direction: row;
  justify-content: space-between;
  color: var(--text-color);

  /* 1ด้านบน (top)2ด้านขวา (right)3ด้านล่าง (bottom)4ด้านซ้าย (left) */
  margin: 10px 20px 0px 298px;
}

.container h1 {
  margin-bottom: inherit;
  margin-top: inherit;
  font-size: 26px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 25%;
}

.row-cols-4>* {
  flex: 0 0 25%;
  max-width: auto;
  padding-left: 10px;
  padding-right: 10px;

}

/* flex-grow กำหนดพื้นที่  flex-shrink มันจะหดตัวเมื่อมีพื้นที่ไม่เพียงพอ flex-basis กำหนดขนาดเริ่มต้น flex item*/
.col {
  flex: 1 0 0%;
  margin-top: 10px;
  /* height: 100%; */
}

.bg-secondary {
  background-color: #6c757d;
  /* สีพื้นหลังสอง */
}

.rounded {
  border-radius: 0.25rem;
  /* ทำให้มุมโค้ง */
}

.p-4 {
  padding: 1.5rem;
  /* การเพิ่ม Padding 4 ทางทั้งสี่ของ Element */
}

/* ============================= margin */
/* กำหนด margin-top */
.mt-0 {
  margin-top: 0rem !important;
}

.mt-1 {
  margin-top: 0.25rem !important;
}

.mt-2 {
  margin-top: 0.5rem !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

.mt-auto {
  margin-top: auto !important;
}

/* กำหนด margin-bottom */
.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

/* กำหนด margin-left and -right */
.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.mx-1 {
  margin-left: 0.25rem !important;
  margin-right: 0.25rem !important;
}

.mx-2 {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

.mx-3 {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

.mx-4 {
  margin-left: 1.5rem !important;
  margin-right: 1.5rem !important;
}

.mx-5 {
  margin-left: 3rem !important;
  margin-right: 3rem !important;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

/* /////////////////////////////////////////////////////////////// custom text color */
.text-primary {
  color: #007bff !important;
}

.text-secondary {
  color: #6c757d !important;
}

.text-success {
  color: #28a745 !important;
}

.text-danger {
  color: #dc3545 !important;
}

.text-warning {
  color: #ffc107 !important;
}

.text-info {
  color: #17a2b8 !important;
}

.text-light {
  color: #f8f9fa !important;
}

.text-dark {
  color: #343a40 !important;
}

.text-body {
  color: #212529 !important;
}

.text-muted {
  color: #6c757d !important;
}

.text-white {
  color: #fff !important;
}

/* /////////////////////////////////////////////////////////////// custom card */

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: var(--sidebar-color);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card-body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 1 0 25%;
  min-height: 1px;
  padding: 1.25rem;
  align-items: center;
  align-content: center;
}


.card-title {
  margin-bottom: 0rem;
  display: flex;
  flex-direction: row;
}

.card-header {
  font-size: 20px;
}

.card-text {
  flex: 1 1 auto;
  padding: 0px 0px 0px 5px;
  align-content: center;
}

.card-text-number {
  font-size: 24px;
}

.card-icon {
  width: auto;
  margin-left: 15px;
  margin-right: 40px;
  font-size: 38px;
}

/* =+++++++++++++++++++++++++ card1*/
.card1 {
  position: relative;
  display: flex;
  margin: 0px 10px 0px 10px;
  height: 100%;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: var(--sidebar-color);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card1-header {
  padding-left: 20px;
  padding-right: 20px;
  border: outset solid;
  border-radius: 0.25rem 0.25rem 0rem 0px;
  /*  มุมบนซ้าย, มุมบนขวา , มุมล่างขวา , มุมล่างซ้าย */
  margin-bottom: 0px;
  margin-top: 0px;
  background: var(--sidebar-color);
  /* background: crimson; */
  color: var(--text-color);
  font-weight: bolder;
  font-size: 1.25rem;

}

.card1-header>* {
  margin-top: 7px;
  margin-bottom: 7px;
  /* color: ; */
}

.card1-body {
  padding: 20px 20px 20px 20px;
}

.card1-text {
  display: block;
}

/* /////////////////////////////////////////////////////////////// custom nav nav-tabs */
/* Navbar */
.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

nav.mb-2 {
  display: flex;
  justify-content: space-between;
  margin-right: 1px;
}

/* Navbar Tabs */
.nav-tabs {
  margin-right: 1px;
}

.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-bottom: 3px solid var(--body-color);
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  font-family: 'Kanit', sans-serif;
  font-size: 1.45rem;
  color: var(--text-color);
  max-width: 100%;
}

.nav-tabs .nav-link:hover {
  border-color: 1px var(--text-color) var(--text-color) var(--body-color);
  transition: var(--tran-03);
}

.nav-tabs .nav-link.active {
  color: var(--text-color);
  background-color: var(--body-color);
  border-color: var(--body-color);
  transition: var(--tran-03);
}

button.nav-link {
  background-color: var(--sidebar-color);
}

/* /////////////////////////////////////////////////////////////// Custom CSS for Code */
code {
  font-size: 14px;
  color: #ff6666;
  word-wrap: break-word;
}

/* /////////////////////////////////////////////////////////////// Custom CSS for breadcrumb */
.breadcrumb {
  background-color: var(--body-color);
  font-size: 19px;
  padding: 10px 0px;
  border-radius: 5px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0px 10px;
  width: auto;
}

.breadcrumb-item+.breadcrumb-item::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E");
  margin: 0 0.5rem;
}

.breadcrumb-item {
  display: flex;
  /* Ensure breadcrumb items are displayed inline */
  align-items: center;
  /* Vertically align items */
}

.breadcrumb-item a {
  color: #007bff;
  /* Link color */
  text-decoration: none;
  /* Remove underline from links */
}

.breadcrumb-item a:hover {
  color: #0056b3;
  /* Link color on hover */
  text-decoration: underline;
  /* Add underline on hover */
}

.breadcrumb-item.active {
  color: #6c757d;
  /* Color for the active breadcrumb item */
}

/* /////////////////////////////////////////////////////////////// custom input time */
/* เปลี่ยนสี icon clock ใน input time ให้เป็นสีดำเมื่อมีคลาส body.dark */
body.dark input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

/* กำหนดสไตล์สำหรับ input time */
input[type="time"] {
  width: 100%;
  letter-spacing: 3px;
  /* ปรับระยะห่าง */
  padding: 4px 12px;
  border: 1px solid var(--body-color);
  border-radius: 4px;
  font-family: 'Kanit', sans-serif;
  font-size: 16px;
  background-color: var(--body-color);
  color: var(--text-color);
  transition: border-color 0.3s ease;
}

/* สไตล์เมื่อ input time ได้รับโฟกัส */
input[type="time"]:focus {
  outline: none;
  border-color: #6c63ff;
  box-shadow: 0 0 5px rgba(108, 99, 255, 0.5);
}

/* /////////////////////////////////////////////////////////////// custom input-group */

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.input-group.mb-3 {
  flex-wrap: nowrap;
}

.input-group-text {
  display: flex;
  align-items: end;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-color);
  text-align: center;
  white-space: nowrap;
  border-radius: 0.25rem;
}


/* /////////////////////////////////////////////////////////////// custom select */
/* Select */
select {
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-family: 'Kanit', sans-serif;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--body-color);
  background-clip: padding-box;
  border: 1px solid var(--select-border-color);
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: var(--bs-form-select-bg-img);
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 24px;
  /* Adjust as needed */

}

/* #6c757d */
select:focus {
  color: var(--text-color);
  background-color: var(--body-color);
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
}

/* /////////////////////////////////////////////////////////////// custom form */

.form-label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-size: 1.15rem;
}

.form-floating {
  position: relative;
}

.form-floating>.form-control {
  height: calc(3.5rem + 2px);
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.form-select {
  display: block;
  font-size: 1rem;
  width: 100%;
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;

}

.form-select:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
}

.form-select[multiple],
.form-select[size]:not([size="1"]) {
  height: auto;
}

/* /////////////////////////////////////////////////////////////// custom input */
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-family: 'Kanit', sans-serif;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--body-color);
  background-clip: padding-box;
  border: 1px solid var(--select-border-color);
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  color: var(--text-color);
  background-color: var(--body-color);
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
}

.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control:disabled {
  background-color: #e9ecef;
  opacity: 1;
}

.input-group>.form-control,
.input-group>.form-select {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
}

/* /////////////////////////////////////////////////////////////// custom tab-pane */
.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
}

.fade {
  transition: opacity 0.3s linear;
  opacity: 0;

}

.fade.show {
  opacity: 1;
}


/* /////////////////////////////////////////////////////////////// custom button */
.btn {
  display: inline-block;
  font-weight: 400;
  font-family: 'Kanit', sans-serif;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-width {
  width: 100%;
}

/* Primary button */
.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

/* Secondary button */
.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

/* Success button */
.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

/* Danger button */
.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

/* Warning button */
.btn-warning {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-warning:hover {
  color: #212529;
  background-color: #e0a800;
  border-color: #d39e00;
}

/* Info button */
.btn-info {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-info:hover {
  color: #fff;
  background-color: #138496;
  border-color: #117a8b;
}

/* Light button */
.btn-light {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-light:hover {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

/* Dark button */
.btn-dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-dark:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}

/* Link button */
.btn-link {
  font-weight: 400;
  color: #007bff;
  background-color: transparent;
}

.btn-link:hover {
  color: #0056b3;
  text-decoration: underline;
  background-color: transparent;
  border-color: transparent;
}


/* /////////////////////////////////////////////////////////////// custom form-check-input */

.form-check-input {
  z-index: -1;
  width: 2em;
  height: 1em;
  font-size: 2em;
  background-color: #e63745;
  border-radius: 1em;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.form-check-input:checked {
  background-color: #28a745;
  border-color: #28a745;
}

/* .form-check-input:focus {
  border-color: #86b7fe;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
} */

.form-check-input:disabled {
  pointer-events: none;
  background-color: #28a745;
}

.form-check-label {
  z-index: 1;
  margin-left: 0.5rem;
  cursor: pointer;
  white-space: nowrap;
  /* Prevent wrapping */
  position: absolute;
  top: 38px;
  left: 3px;
  user-select: none;
  color: #FFF;
}

/* CSS สำหรับการปรับแต่งเพิ่มเติม */
.form-check-input::after {
  content: '';
  display: block;
  width: 1em;
  z-index: 2;
  /* Increased z-index to ensure it's on top of labels */
  height: 1em;
  border-radius: 50%;
  background-color: #fff;
  transition: transform 0.15s ease-in-out;
  transform: translateX(0.00em);
}


.form-check-input:checked::after {
  transform: translateX(1em);
}

/* /////////////////////////////////////////////////////////////// custom aleart */
.alert {
  width: 100%;
  margin: 0px 10px 0px 10px;
  padding-left: 20px;
  height: 50px;
  align-content: center;
  color: inherit;
  background-color: inherit;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .2s ease-in-out;
}

/* โหมดกลางคืน (Dark mode) */
body.dark .alert-success {
  color: #75b798;
  background-color: #051b11;
  border-color: #0f5132;
}

body.dark .alert-danger {
  color: #ea868f;
  background-color: #2c0b0e;
  border-color: #842029;
}

.alert-primary {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.alert-secondary {
  color: #383d41;
  background-color: #e2e3e5;
  border-color: #d6d8db;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.alert-light {
  color: #818182;
  background-color: #fefefe;
  border-color: #fdfdfe;
}

.alert-dark {
  color: #1b1e21;
  background-color: #d6d8d9;
  border-color: #c6c8ca;
}

/* /////////////////////////////////////////////////////////////// custom modal */
/* Custom CSS for modal */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.5);
  /* Black w/ opacity */
  opacity: 0;
}

.modal.fade {
  display: none;
  transition: opacity 0.15s ease;
}

.modal.show {
  display: block;
  opacity: 1;
}

/* position move down from top */
.modal.show .modal-dialog {
  transform: translate(-50%, -50%) translateY(0);
  transition: 0.1s ease;
}

/* Modal dialog */
.modal-dialog {
  position: relative;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(-70%);
  transition: transform 0.3s ease;
}

/* Modal content */
.modal-content {
  background-color: var(--sidebar-color);
  margin: 10% 190px 0px 468px;
  border-radius: 5px;
  transform: scale(1);
  transition: transform 0.3s ease;
}




.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
  color: var(--text-color);
  font-size: 20px;
  font-weight: bold;
}

/* Modal body */
.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 20px 16px 20px 16px;
  font-size: 20px;
}

/* Modal header */
.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  /* border-bottom: 1px solid var(--text-color); */
  padding: 0px 16px 0px 16px;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

/* Modal footer */
.modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: right;
  padding: 0px 16px 16px 16px;
  /* border-top: 1px solid var(--text-color); */
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.modal-header,
.modal-footer {
  background-color: var(--sidebar-color);
  align-items: center;
  color: var(--text-color);
}

/* cross symbol */
.btn-close {
  position: relative;
  margin-top: 20px;
  width: 24px;
  height: 24px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.btn-close::before,
.btn-close::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 2px;
  background-color: var(--text-color);
  transform: translate(-50%, -50%) rotate(45deg);
  transition: background-color 0.2s;
}

.btn-close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.btn-close:hover::before,
.btn-close:hover::after {
  background-color: #dc3545;
  ;
  /* Change color on hover */
}

.btn-close:focus {
  outline: none;
}

/* Static effect */
.modal-static .modal-content {
  transform: scale(1.1);
  /* animation: shake 0.3s ease; */
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  20%,
  60% {
    transform: translateX(-10px);
  }

  40%,
  80% {
    transform: translateX(10px);
  }
}

/* /////////////////////////////////////////////////////////////// custom Table page */
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  border-radius: 0.25rem 0.25rem 0rem 0px;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: var(--text-color);
  padding: 10px 10px;
  /* table-layout: fixed; */
}

.table-thead {
  background-color: var(--tablehead-color);
  font-size: 18px;
  color: var(--tablehead-text-color);

}

.text-center {
  text-align: center;
}

.table-active {
  background-color: var(--sidebar-color);
  height: 36px;
}

.table1-active {
  font-size: 16px;
  background-color: var(--tablerow-color);
  height: 36px;
}

.align-middle {
  vertical-align: middle !important;
}

.table-bordered {
  border: 1px solid #dee2e6;
}

.table-hover tbody tr:hover {
  background-color: var(--hovertable-color);
}

.table>:not(caption)>*>* {
  padding: .5rem .5rem;
  border-bottom-width: 1px;
}

/* /////////////////////////////////////////////////////////////// custom building page */
.col.mb-0 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: initial;
}

.col.mb-2 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: initial;
}

.form-floating a:first-of-type {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

/* /////////////////////////////////////////////////////////////// Responsive page */

@media screen and (max-width: 420px) {
  .col.mb-2 {
    display: block;
  }

  .form-floating a:first-of-type {
    margin-left: 0rem !important;
    margin-right: 0.5rem !important;
  }

  .form-floating a.btn {
    text-decoration: none;
    white-space: normal;
  }

  form {
    flex-direction: column;
  }

}

/* Use when the screen size is greater than or equal to 600px*/
@media screen and (min-width: 600px) {
  .col {
    flex: 1 0 50%;
  }

}

/* Use when the screen size is less than or equal to 600px */

@media screen and (max-width: 700px) {
  .col {
    flex: 1 0 50%;
  }

  .row {
    display: block;
  }

  .input-group.mb-3 {
    flex-wrap: wrap;
  }

  span.input-group-text {
    opacity: 0;
  }


}

@media screen and (min-width: 900px) {
  .col {
    flex: 1 0 40%;
  }

}

@media screen and (min-width: 1400px) {
  .col {
    flex: 1 1 25%;
  }
}

@media screen and (max-width: 1060px) {}

/* Add media query for sidebar is row when the screen size small */
@media screen and (max-width: 1060px) {
  .overlay {
    z-index: 1;
  }

  .showsidebar i {
    display: block;
  }

  .sidebar {
    margin-left: -278px;
    transition: var(--tran-02);
    box-shadow: none;
  }

  .sidebar-responsive {
    box-shadow: none;
  }

  /* =============================== */

  .headerprofile {
    position: initial;
    width: initial;
    transition: var(--tran-02);
  }


  .headername {
    position: initial;
    margin-left: 5px;
  }

  .headerprofile .border,
  .profilelogo {
    display: none;
  }


  /* ======================================== */
  .container {
    position: initial;
    /* 1ด้านบน (top)2ด้านขวา (right)3ด้านล่าง (bottom)4ด้านซ้าย (left) */
    margin: 10px 20px 0px 20px;
    transition: var(--tran-02);
  }

  /* ======================================== */
  .modal-content {
    margin: 10% 30px 0px 30px;
    width: auto;
  }

}

a.btn.btn-success {
  width: auto;
  /* text-decoration: none; */
  /* white-space: normal; */
}